<br>
<div class="row mar">
  <div class="col-4">
<h3>Details of the Vehicle</h3>
<br>
  </div>
  <div class="col-3">

    <button class="btn buttn" type="submit"> <a routerLink="../../vehicle" routerLinkActive="active" class="nav-link"
      >Back to the Vehicle List</a
    > </button>
  </div>
  </div>
  

  <div>
    <h5><label><b>Registration No: </b></label> {{ vehicle.vehicleNo }}</h5>
  </div>
  <div>
    <h5><label><b>Model: </b></label> {{ vehicle.model }}</h5>
  </div>
  <div>
    <h5><label><b><th>Max. Carrying Weight (KG)</th>: </b></label> {{ vehicle.maxWeight }}</h5>
  </div>
  <div>
    <h5><label><b><th>Max. Carrying Volume (L)</th>: </b></label> {{ vehicle.maxVol }}</h5>
  </div>

<br>

