<!-- Outlet Home -->


<div class="container-fluid" >
    <div class="row">
        <!-- {{conso}} -->
        <router-outlet></router-outlet> 
  
      </div>
      
</div>


<!-- Outlet Home -->

<!-- ############################################ -->

<!-- Admin Home -->


<!-- <div *ngIf="role=='admin'">
    <p>Hey admin !</p>
</div> -->


<!-- Admin Home -->

<!-- ############################################ -->

<!-- Warehouse Home -->


<!-- <div class="container-fluid" *ngIf="role=='warehouse'">
   
    <div class="row">

      <router-outlet></router-outlet> 

    </div>
    
    
</div> -->


<!-- Warehouse Home -->

<!-- ############################################ -->

<!-- Driver Home -->


<!-- <div *ngIf="role=='driver'">
    <p>Hey driver !</p>
</div> -->


<!-- Driver Home -->