<!-- Outlet Setting -->


<!-- <div *ngIf="role=='outletuser'">
    Hey outlet!
</div> -->


<!-- Outlet Setting -->

<!-- ############################################ -->

<!-- Admin Setting -->


<!-- <div *ngIf="role=='admin'">
    <p>Hey admin !</p>
</div> -->


<!-- Admin Setting -->

<!-- ############################################ -->

<!-- Warehouse Setting -->

<!-- 
<div class="container-fluid" *ngIf="role=='warehouse'">
   
    <div class="row">

      <router-outlet></router-outlet> 

    </div>
    
    
</div> -->


<!-- Warehouse Setting-->

<!-- ############################################ -->

<!-- Driver Setting -->

<!-- 
<div *ngIf="role=='driver'">
    <p>Hey driver !</p>
</div> -->


<!-- Driver Setting-->
<app-waresetting></app-waresetting>