.bdr{
    width: 70%;
    border-radius: 6px;
    
}
th{
    padding: 13px;
    text-align: center;
    /* background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% ); */
    background-color: #2caf94;
    color: rgb(246, 239, 239);
    font-size: large;
}
td{
    text-align: center;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.461);
    font-size: large;
    color: #000000;
}
.ractive{
    background-color: rgba(0, 4, 255, 0.597) !important;
}
.button{
    /* background-color: rgba(236, 236, 251, 0.781); */
    margin-bottom: 20px;
}
.cancel{
    background-color: #D7322C;
    color: #FFFEFE;
    font-weight: 700;
}
.submit{
    background-color: #3A8768;
}

tr{
    cursor: pointer;
}